/*CONTEÚDO DA PÁGINA*/

/*BANNER*/

.banner {
  /* background-image: url("./assets/img/background_white.jpg"); */
  background-size: cover;
}

.banner img {
  width: 100%;
  height: 100%;
}

.banner .container {
  height: 350px;
  align-items: center;
  justify-content: center;
}

.btn_saibamais {
  background-color: #32b9cd;
  width: 480px;
  border: #32b9cd solid 10px;
  text-decoration: none;
  margin-top: -110px;
  color: white;
  padding: 4px 0px;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  left: 5.5%;
  text-align: center;
  box-shadow: 0px 0px 42px 12px rgb(0 0 0 / 41%);
}

.btn_saibamais:hover {
  transform: translateZ(-10px);
  opacity: 0.8;
}

/*SOCIAL*/
.banner2 {
  background-image: url("./assets/img/background_white.jpg");
  width: 100%;
  display: flex;
  margin-top: -5px;
  /* padding: 25px 0px; */
  height: 100vh;
}

.banner2 .caixas {
  display: flex;

}

.banner2 h3 {
  font-size: 45px;
  font-weight: bold;
  color: #265078;
}

.caixa {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px;
  display: flex;
  padding: 0 20px;
}

.caixa img {
  height: 200px;
  padding: 20px 0px;
}

.caixa h4 {
  margin: 15px 0;
  color: #36A2EB;
  font-size: 25px;
  font-weight: bold;
}

.caixa p {
  text-align: center;
}

.caixa img {
  width: 170px;
}

.banner3 {
    background-color: #F2A19A;
    width: 100%;
    display: flex;
    margin-top: -5px;
    height: 100vh;
    background-image: url(./assets/img/sorvete.png);
    background-repeat: no-repeat;
    background-size: 555px;
    background-position-x: 95%;
    background-position-y: 80%;
}

.banner3 .caixas {
  display: flex;
  flex-direction: column;  
}

.banner3 .caixa {
    background-color: #F4E6E0;
    border: none;
    border-radius: 15px;
    padding: 45px 5px;
    margin-bottom: 25px;
}

.banner3 .caixa:last-child {
  margin-bottom: 0;
}

.banner3 h4 {
  font-size: 25px;
  font-weight: bold;
}

.banner3 p {
  padding: 0px 70px;
}

.banner4 {
  background-color: #265078;
  width: 100%;
  margin-top: -5px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: #FFF solid 5px;
}

.banner4 h4{
  font-size: 45px;
  font-weight: bold;
  color: #FFF; 
}

.banner4 p {
  font-size: 30px;
  font-weight: bold;
  color: #E0FEFF;
  margin: 35px 0px 130px;
}

.btn_simulador {
  background-color: #32b9cd;
  width: 480px;
  border: #32b9cd solid 10px;
  text-decoration: none;
  color: white;
  padding: 4px 0px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 0px 42px 12px rgb(0 0 0 / 41%);
}

/*RODAPÉ/FOOTER*/

footer {
  padding: 45px 0;
  background-color: #32b9cd;
}

footer .container {
  justify-content: center;
}

footer p {
  color: #fff;
}